# macOS files
.DS_Store
*.DS_Store

# Python files
__pycache__/
*.pyc
*.pyo

# IDEs
.idea/
.vscode/

# Environment files
.env
.env.local
*.env
!*.example
!env_exam

# Virtual Environments
venv/
.venv/
ENV/
